" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
map <c-n> :NERDTree<CR>


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

set highlightedyank

set matchpairs+=<:>
set ideajoin
let mapleader = " "

set clipboard^=unnamed,unnamedplus

set quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

noremap <leader>cc :edit ~/.ideavimrc<CR>
noremap <leader>cs :source ~/.ideavimrc<CR>


set relativenumber
set number

noremap <Esc> :nohlsearch<CR>
set hlsearch
set ignorecase
set smartcase
set incsearch

map w [w
map e ]w
map b [b
map ge ]b


map <leader>wv <Action>(SplitVertically)
map <leader>wh <Action>(SplitHorizontally)
map <leader>ww <Action>(Unsplit)
map <leader>wa <Action>(UnsplitAll)


map <leader>sc <Action>(GotoClass)
map <leader>sf <Action>(GotoFile)
map <leader>ss <Action>(GotoSymbol)
map <leader>sa <Action>(SearchEverywhere)
map <leader>gd <Action>(GotoDeclaration)

noremap <C-d> <C-d>zzzv
noremap <C-u> <C-u>zzzv
noremap n nzzzv
noremap N Nzzzv
noremap ( (zzzv
noremap ) )zzzv


xnoremap <leader>p \"_dP